/3-AngularJS/conFusion/bower_components/
/3-AngularJS/conFusion/node_modules/
/3-AngularJS/conFusion/dist/
/3-AngularJS/conFusion/.tmp/
/.project
/3-AngularJS/json-server/public
/3-AngularJS/angular-example/bower_components/
/3-AngularJS/angular-example/node_modules/
/3-AngularJS/angular-example/dist/
/3-AngularJS/angular-example/.tmp/

/4-Ionic/conFusion/bower_components/
/4-Ionic/conFusion/node_modules/
/4-Ionic/conFusion/dist/
/4-Ionic/conFusion/.tmp/
/4-Ionic/json-server/public
